* a[href] {
  text-decoration: none;
  font-weight: bold;
  color: #75dddd;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #004346;
  color: #75dddd;
}

.brand-title {
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding-right: 15px;
}

.navbar-links li {
  list-style: none;
  margin: 0 5px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #75dddd;
  padding: 1rem;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 7px 13px;
  margin-top: 8px;
}

.navbar-links li input {
  border: none;
  border-radius: 50px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

a.active,
a:hover {
  background: #508991;
  transition: all 0.3s ease 0s;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-top: 18px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
