<nav class="navbar">
  <div class="brand-title"><a href="/principal">Web Trailers</a></div>
  <a class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><input type="search" placeholder="Filtrar"></li>
      <li>
        <p>{{emailAdmin}}</p>
      </li>
      <li *ngIf="exists()"><a class="active" href="/login">Login</a></li>
      <li *ngIf="!exists()" onclick="localStorage.clear();"><a href="/principal">logout</a></li>
    </ul>
  </div>
</nav>