<div class="container-dialog">
    <h2 mat-dialog-title>TITULO TRAILER</h2><!-- TITULO -->
    <mat-dialog-content class="mat-typography">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7dWs0_yqm-0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <br>
        <h3>DIRECTOR:</h3>
        <p>Álex Pina, Sonia Martínez, Jesús Colmenar, Esther Martínez Lobato y Nacho Manubens</p>
        <h3>ACTORES:</h3>
        <p>
            Úrsula Corberó, Itziar Ituño, Álvaro Morte, Paco Tous, Pedro Alonso, Alba Flores, Miguel Herrán,
            Jaime Lorente, Esther Acebo, Enrique Arce, María Pedraza, Darko Perić, Kiti Mánver, Hovik Keuchkerian,
            Rodrigo de la Serna, Najwa Nimri, Luka Peroš, Belén Cuesta y Fernando Cayo.
        </p>
        <!-- &Ntilde; y &ntilde; -->
        <h3>RESE&Ntilde;A:</h3>
        <p>
            La estética de la serie fue desarrollada por el creador Álex Pina, el director Jesús Colmenar y
            el director de fotografía Migue Amoedo, según La Vanguardia ''El trío artístico más prolífico
            de los últimos años'.
        </p>
        <h3>A&Ntilde;O:</h3>
        <p>SU PRIMERA EMISION FUE EL 2 de mayo de 2017. MIENTRAS QUE SU ULTIMA EMISION FUE EL 3 de diciembre de 2021.
        </p>
        <h3>VALORACION:</h3>
        <p>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
        </p>
        <br>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="cont-button">
        <!-- <button mat-button mat-dialog-close>Cancel</button> -->
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" class="btn-color">
            <mat-icon>home</mat-icon>
        </button>
    </mat-dialog-actions>
</div>