<div class="admin">
    <button mat-mini-fab color="accent" aria-label="add" class="btn-add" (click)="openAdmin()" align="right">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div class="content">
    <mat-card class="example-card" (click)="openDialog()">
        <mat-card-header class="header-card">
            <mat-card-title>NOMBRE DE LA PELICULA 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/564x/d5/d4/39/d5d439da0a74058366f9e4df25db5fa2.jpg"
            alt="Photo of a Shiba Inu" class="img-card">
        <mat-card-content>
            <p class="ratep">RATING:</p>
        </mat-card-content>
        <mat-card-actions class="rating-star">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" (click)="openDialog()">
        <mat-card-header class="header-card">
            <mat-card-title>NOMBRE DE LA PELICULA 2</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/564x/dd/b5/a9/ddb5a9bf24e9889482905365574b9e32.jpg"
            alt="Photo of a Shiba Inu" class="img-card">
        <mat-card-content>
            <p class="ratep">RATING:</p>
        </mat-card-content>
        <mat-card-actions class="rating-star">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" (click)="openDialog()">
        <mat-card-header class="header-card">
            <mat-card-title>NOMBRE DE LA PELICULA 3</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/564x/4a/a7/09/4aa709fb827464c325ee3c63f07b8a6c.jpg"
            alt="Photo of a Shiba Inu" class="img-card">
        <mat-card-content>
            <p class="ratep">RATING:</p>
        </mat-card-content>
        <mat-card-actions class="rating-star">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" (click)="openDialog()">
        <mat-card-header class="header-card">
            <mat-card-title>NOMBRE DE LA PELICULA 4</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/564x/2c/e0/b3/2ce0b3adb0f92a503a837097edbe81ac.jpg"
            alt="Photo of a Shiba Inu" class="img-card">
        <mat-card-content>
            <p class="ratep">RATING:</p>
        </mat-card-content>
        <mat-card-actions class="rating-star">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" (click)="openDialog()">
        <mat-card-header class="header-card">
            <mat-card-title>NOMBRE DE LA PELICULA 5</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/564x/30/d2/26/30d226c85acf93a983534873fa18922c.jpg"
            alt="Photo of a Shiba Inu" class="img-card">
        <mat-card-content>
            <p class="ratep">RATING:</p>
        </mat-card-content>
        <mat-card-actions class="rating-star">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" (click)="openDialog()">
        <mat-card-header class="header-card">
            <mat-card-title>NOMBRE DE LA PELICULA 6</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/564x/41/3c/fd/413cfd6875d76c9a689a3b4b68ac6b19.jpg"
            alt="Photo of a Shiba Inu" class="img-card">
        <mat-card-content>
            <p class="ratep">RATING:</p>
        </mat-card-content>
        <mat-card-actions class="rating-star">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" (click)="openDialog()">
        <mat-card-header class="header-card">
            <mat-card-title>NOMBRE DE LA PELICULA 7</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/564x/e8/53/16/e85316682de83eb672b045b23f26480d.jpg"
            alt="Photo of a Shiba Inu" class="img-card">
        <mat-card-content>
            <p class="ratep">RATING:</p>
        </mat-card-content>
        <mat-card-actions class="rating-star">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" (click)="openDialog()">
        <mat-card-header class="header-card">
            <mat-card-title>NOMBRE DE LA PELICULA 8</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/564x/85/93/ad/8593ad8cb57bc722343f70bac2723838.jpg"
            alt="Photo of a Shiba Inu" class="img-card">
        <mat-card-content>
            <p class="ratep">RATING:</p>
        </mat-card-content>
        <mat-card-actions class="rating-star">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" (click)="openDialog()">
        <mat-card-header class="header-card">
            <mat-card-title>NOMBRE DE LA PELICULA 9</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/564x/05/c4/51/05c4511541727e7f70da52a25dcea8d5.jpg"
            alt="Photo of a Shiba Inu" class="img-card">
        <mat-card-content>
            <p class="ratep">RATING:</p>
        </mat-card-content>
        <mat-card-actions class="rating-star">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" (click)="openDialog()">
        <mat-card-header class="header-card">
            <mat-card-title>NOMBRE DE LA PELICULA 10</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/564x/65/4a/43/654a43e24603d16b9dda300128413bfa.jpg"
            alt="Photo of a Shiba Inu" class="img-card">
        <mat-card-content>
            <p class="ratep">RATING:</p>
        </mat-card-content>
        <mat-card-actions class="rating-star">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="star-value">star</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>