<div class="container-crud">
    <!-- RESPONSIVE -->
    <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!" linear #stepper>
        <mat-step [stepControl]="firstFormGroup" label="A&ntilde;adir Actores" [optional]="false" [editable]="false"
            class="titulo-actores">
            <form [formGroup]="nuevoActor" (ngSubmit)="postActor(nuevoActor.value)" class="form-actores" >
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label class="lbl-nombre">Nombre</mat-label>
                    <input matInput formControlName="nameActor" placeholder="Ex. Elian">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label class="lbl-apellido">Apellido</mat-label>
                    <input matInput formControlName="lastName" placeholder="Ex. Germosen">
                </mat-form-field>
                <div>
                    <!-- <button mat-button matStepperNext (click)="evento()">Next</button> -->
                    <button mat-stroked-button color="warn" class="btn-cancel">Cancel</button>
                    <button mat-stroked-button color="accent" class="btn-save" type="submit" >Save</button>
                    <button mat-stroked-button matStepperNext (click)="evento()" class="btn-next">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="A&ntilde;adir Trailler" [editable]="false">
            <form [formGroup]="secondFormGroup">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <input matInput formControlName="title" placeholder="Ex. La casa de papel" required>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Director</mat-label>
                    <input matInput formControlName="director"
                        placeholder="Ex. Álex Pina, Sonia Martínez, Jesús Colmenar, Esther Martínez Lobato y Nacho Manubens"
                        required>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Rese&ntilde;a</mat-label>
                    <textarea matInput formControlName="review"
                        placeholder="Ex. La estética de la serie fue desarrollada por el creador Álex Pina, el director Jesús Colmenar y el director de fotografía Migue Amoedo, según La Vanguardia ''El trío artístico más prolífico de los últimos años'."
                        required></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Portada</mat-label>
                    <input matInput formControlName="cover"
                        placeholder="Ex. https://pinimg.com/564x/d5/d4/39/d5d439da0a74058366f9e4df25db5fa2.jpg"
                        required>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Trailer</mat-label>
                    <input matInput formControlName="link" placeholder="Ex. https://www.youtube.com/embed/7dWs0_yqm-0"
                        required>
                </mat-form-field>
                <mat-form-field appearance="fill" class="multiple-actores">
                    <mat-label>Actores</mat-label>
                    <mat-select [formControl]="actores" multiple>
                        <mat-select-trigger>
                            {{actores.value ? actores.value[0] : ''}}
                            <span *ngIf="actores.value?.length > 1" class="example-additional-selection">
                                (+{{actores.value.length - 1}} {{actores.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let actor of actorList" [value]="actor">{{actor}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field color="accent" appearance="fill" class="fecha-rating">
                    <mat-label>Fecha de Lanzamiento</mat-label>
                    <input matInput formControlName="year_trailer" [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <!-- <div class="" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'"> -->
                <label id="example-name-label" class="fecha-rating">Rating </label>
                <mat-icon aria-hidden="false" aria-label="icon star" class="star-value">star
                </mat-icon>
                <!-- </div> -->
                <mat-slider formControlName="rating" class="example-margin" [disabled]="disabled" [invert]="invert"
                    [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel"
                    [tickInterval]="getSliderTickInterval()" [(ngModel)]="value" [vertical]="vertical"
                    aria-labelledby="example-name-label">
                </mat-slider>
                <div>
                    <button mat-stroked-button color="warn" class="btn-cancel">Cancel</button>
                    <button mat-stroked-button color="accent" (click)="evento()" class="btn-save">Save</button>
                    <!-- <button mat-stroked-button matStepperNext (click)="evento()" class="btn-next">Next</button> -->
                </div>
            </form>
        </mat-step>
        <!-- <mat-step>
            <ng-template matStepLabel>Agregado</ng-template>
            <p>Tu trailer ha sido agregado con exito a la aplicacion.</p>
        </mat-step> -->
    </mat-stepper>
</div>