.form-actores {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-actores .titulo-actores {
  color: #09bc8a;
}

.example-full-width {
  width: 100%;
}

.multiple-actores {
  margin: 0 3px 0 0;
}

.fecha-rating {
  margin: 0 3px;
}

.star-value {
  color: #fcbf49;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.star-value {
  color: #fcbf49;
}

.example-label-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 12px 16px;
  max-width: 284px;
}

.example-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 68px;
  height: 48px;
}
