<!-- keury -->
<div class="contenedor">
  <div class="wrapper">
    <div class="card front-face">
      <img src="../../../../../assets/images/keury.jpg" alt="">
    </div>
    <div class="card back-face">
      <img src="../../../../../assets/images/keury.jpg" alt="">
      <div class="info">
        <div class="title">Keury Lendof</div>
        <p>User interface designer and <br>front-end developer</p>
      </div>
      <ul>
        <a href="https://www.linkedin.com/in/keury-lendof-599b82185/" target="_blank" rel="nofollow"><i
            class="fab fa-linkedin-in"></i></a>
        <a href="https://twitter.com/keurylendof1" target="_blank" rel="nofollow"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/keurylendof" target="_blank" rel="nofollow"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/KeuryLendof" target="_blank" rel="nofollow"><i class="fab fa-github"></i></a>
      </ul>
    </div>
  </div>

  <!-- elian -->
  <div class="wrapper">
    <div class="card front-face">
      <img src="../../../../../assets/images/elian.jfif" alt="">
    </div>
    <div class="card back-face">
      <img src="../../../../../assets/images/elian.jfif" alt="">
      <div class="info">
        <div class="title">Elian Germosen</div>
        <p>User interface designer and <br>front-end developer</p>
      </div>
      <ul>
        <a href="https://www.linkedin.com/in/elian-manuel-toribio-germosen-b19a5b203" target="_blank" rel="nofollow"><i
            class="fab fa-linkedin-in"></i></a>
        <a href="https://twitter.com/elianmtg_" target="_blank" rel="nofollow"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/elianmtg_" target="_blank" rel="nofollow"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/Elianmtg" target="_blank" rel="nofollow"><i class="fab fa-github"></i></a>
      </ul>
    </div>
  </div>

  <!-- wilkendry -->

  <div class="wrapper">
    <div class="card front-face">
      <img src="../../../../../assets/images/wilkendrys.jfif" alt="">
    </div>
    <div class="card back-face">
      <img src="../../../../../assets/images/wilkendrys.jfif" alt="">
      <div class="info">
        <div class="title">Wilkendrys Castillo</div>
        <p>User interface designer and <br>front-end developer</p>
      </div>
      <ul>
        <a href="https://www.linkedin.com/in/wilkendry-castillo-748490213/" target="_blank" rel="nofollow"><i
            class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/wilkendrys_c16?utm_medium=copy_link" target="_blank" rel="nofollow"><i
            class="fab fa-instagram"></i></a>
        <a href="https://github.com/WilkendrysCastillo16" target="_blank" rel="nofollow"><i
            class="fab fa-github"></i></a>
      </ul>
    </div>
  </div>

  <!-- Upia -->

  <div class="wrapper">
    <div class="card front-face">
      <img src="../../../../../assets/images/upia.jfif" alt="">
    </div>
    <div class="card back-face">
      <img src="../../../../../assets/images/upia.jfif" alt="">
      <div class="info">
        <div class="title">Jose Upia</div>
        <p>User interface designer and <br>front-end developer</p>
      </div>
      <ul>
        <a href="https://www.linkedin.com/in/jose-miguel-upia-urbaez-549696159/" target="_blank" rel="nofollow"><i
            class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/JoseUpia" target="_blank" rel="nofollow"><i class="fab fa-github"></i></a>
      </ul>
    </div>
  </div>
</div>