<div class="login">
    <div class="login-container">
        <div class="login-info-container">
            <br /><br /><br /><br />
            <h1 class="title">Log in with</h1>
            <br />
            <form class="inputs-container">
                <input class="input" type="text" placeholder="Username" />
                <input class="input" type="password" placeholder="Password" />
                <button type="button" class="btnl"><a href="/principal">Login</a></button>
            </form>
        </div>
        <img class="image-container" src="assets/images/login.svg" alt="">
    </div>
</div>